<body>
<form method="POST" action="/">

    <label for="namesurname">Imię i Nazwisko</label>
    <input type="text" name="name" id="name">
    <br>

    <label for="event">Wydarzenie</label>
    <select name="event" id="wydarzenie">
        <option value="puste">---</option>
        <option value="frontend">FrontEnd-ReactJS</option>
        <option value="backend">BackEnd-Node.js</option>
        <option value="fullstack">FullStack-MERN</option>
        <option value="tester">Tester Manualny</option>
    </select>

    <label for="city">Miasto:</label>
    <select name="city" id="city">
        <option value="puste">----</option>
        <option value="online">Online</option>
        <option value="warszawa">Warszawa</option>
        <option value="krakow">Kraków</option>
    </select>

    <br>
    <button>ZAPISZ</button>
</form>
</body>