form {
    background-color: #213b50;
    color: #fff;
    padding: 20px;
}


input,
select {
    background-color: #2b4a64;
    color:#fff;
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid #2b4a64;
    padding: 5px;
}

input:focus,
select:focus,
textarea:focus {
background-color: #4e708c;
border: 1px solid #fff;
}

label {
    display: block;
    margin-bottom: 2px;
}

button {
    background-color: #1ac056;
    width: 125px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #46e881;
}